.App {
  padding: 40px;
}

.input-chip{
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 8px 20px;
  font-size: 20px;
  z-index: 2;
}

.selected-items{
  display: flex;
}

.selected-item{
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-right: 6px;
  background-color: rgba(0, 0, 0, 0.14);
  padding: 4px 8px;
}

.cross{
  margin-left: 5px;
  padding: 2px 2px;
  cursor: pointer;
}

.cross:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

#searchable-input{
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  height: 30px;
  font-size: inherit;
  z-index: 2;
}

.input:focus-visible {
  outline: none;
}

.suggestion-list {
  position: absolute;
  display: none;
  top: 35px;
  left: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  width: 400px;
  max-height: 250px;
  overflow: auto;
  scrollbar-width: 20px;
  z-index: 1;
  background-color: white;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}

.list-item:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

.thumbnail-selected{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 5px;
}

.name {
  width: 30%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.name-selected{
  white-space: nowrap;
  font-size: 15px;
}

.email {
  font-size: 14px;
  color: grey;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.suggestion-list::-webkit-scrollbar {
  width: 10px;
}

.suggestion-list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.suggestion-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}